services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  celery:
    build: .
    command: celery -A src.celery_tasks.c_app worker --loglevel=info
    environment:
      REDIS_HOST: redis
    depends_on:
      redis:
        condition: service_healthy


  calculation-service:
    build: .
    ports:
      - "8000:8000"
    environment:
      REDIS_PORT: 6379
      REDIS_HOST: redis
    restart: on-failure:3
    secrets:
      - session_secret
    depends_on:
      celery:
        condition: service_started


secrets:
  session_secret:
    file: session_secret.txt
